.parallax {
    background-image: url("/images/wallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.large-screen {
    height: 75%;
}
.small-screen {
    height: 20%
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.top, .bottom {
    flex: 1;
}
.title-text {
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
}
.title-text h1 {
    font-size: 7.5rem;
}
.title-text h2 {
    font-size: 2rem;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.about-me-info {
    margin-left: 48px;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }

    .large-screen {
        height: 50%;
    }

    .small-screen {
        height: 10%
    }
}

@media only screen and (max-width: 768px) {
    .about-me {
        flex-direction: column;
    }

    .about-me-info {
        margin-left: 0;
        margin-top: 38px;
    }
}