body, html {
    height: 100%;
    font-family: Roboto, sans-serif;
}

.parallax-window-top {
    height: 100%;
    background: transparent;
}
.parallax-window {
    height: 20%;
    background: transparent;
}

.title-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.top, .bottom {
    flex: 1;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-text {
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
}
.title-text h1 {
    font-size: 7.5rem;
}
.title-text h2 {
    font-size: 2rem;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: solid 1px red;*/
}

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
    /*border: solid 1px purple;*/
}

.about-me-info {
    margin-left: 48px;
    /*border: solid 1px green;*/
}

.about-me-buttons {
    margin-top: 30px;
    display: flex;
    /*border: solid 1px blue;*/
}

.first-button {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .about-me {
        flex-direction: column;
    }

    .about-me-info {
        margin-left: 0;
        margin-top: 38px;
    }

    .about-me-buttons {
        flex-direction: column;
        flex-grow: 0;
    }

    .first-button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}