body, html {
    height: 100%;
    font-family: Roboto, sans-serif;
}

.parallax-window-top {
    height: 100%;
    background: transparent;
}
.parallax-window {
    height: 20%;
    background: transparent;
}

.title-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.top, .bottom {
    flex: 1;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-text {
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
}
.title-text h1 {
    font-size: 7.5rem;
}
.title-text h2 {
    font-size: 2rem;
}

.section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.subheading {
    font-weight: 500;
    margin-bottom: 48px;
    color: #82B1FF;
    font-size: 2.5rem;
}

.body-text {
    line-height: 1.5;
    font-weight: 300;
    text-align: justify;
}
