.section {
    align-items: flex-start;
}

.subheading-text {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 48px;
}

.body-text {
    line-height: 1;
    text-align: left;
}

.projects {
    width: 100%;
}

.project {
    margin: 30px 0 30px 30px;
}

.project-heading-text {
    margin: 0;
}

.line {
    margin-bottom: 30px;
}