<style>
    .footer {
        width: 75%;
        margin: 0 auto;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @media only screen and (max-width: 768px) {
        .footer-container {
            flex-direction: column;
        }

        .footer-icons {
            display: flex;
            flex-direction: row;
        }
    }
</style>

<nav class="navbar navbar-default footer">
    <div class="container-fluid">
        <div class="footer-container">
            <div class="navbar-header navbar-brand">Contact Me</div>
            <ul class="nav navbar-nav navbar-right footer-icons">
                <li><a href="mailto:tiffanycjiang@gmail.com" target="_blank"><span class="fa fa-envelope fa-3x"></span></a></li>
                <li><a href="https://www.linkedin.com/in/tiffjiang" target="_blank"><span class="fa fa-linkedin-square fa-3x"></span></a></li>
                <li><a href="https://github.com/tiffcj" target="_blank"><span class="fa fa-github fa-3x"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
